@media only screen and (min-width: 64em){

    body {
        margin: 1.5em 5em;
    }
   
    main {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 1.5em;
    }
    
    main p {
        font-size: 1em;
    }
    
    main a {
        font-size: 1em;
    }
}