body {
  margin: 0;
  overscroll-behavior-y: none; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.heading {
  margin: 5px;
  margin-top: Calc(5vh + 25px); }
  @media only screen and (min-width: 320px) and (orientation: landscape) {
    .heading {
      margin-top: Calc(5vh + 35px); } }
  @media only screen and (min-width: 768px) and (orientation: landscape) {
    .heading {
      margin-top: Calc(5vh + 25px); } }
  @media only screen and (min-width: 1024px) and (orientation: landscape) {
    .heading {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: .6rem; } }

.titleDiv {
  border: 1px outset;
  -webkit-box-shadow: 3px 3px 3px -3px #000, 3px 3px 3px -3px #000, -3px 3px 3px -3px #000;
  -moz-box-shadow: 3px 3px 3px -3px #000, 3px 3px 3px -3px #000, -3px 3px 3px -3px #000;
  box-shadow: 3px 3px 3px -3px #000, 3px 3px 3px -3px #000, -3px 3px 3px -3px #000;
  padding: 8px;
  margin-bottom: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mainTitle {
  font-size: 2rem; }
  .mainTitle h6 {
    margin: 0; }

iframe {
  width: Calc(100vw - 10px);
  height: 56.25vw;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1024px) and (orientation: landscape) {
    iframe {
      width: Calc(50vw - 10px);
      height: Calc(Calc(56.25vw - 70px) / 2); } }

.announcementDiv {
  border: 1px outset #c00b17;
  background: linear-gradient(#c00b17, #eb0807);
  background: -webkit-linear-gradient(#c00b17, #eb0807);
  background: -moz-linear-gradient(#c00b17, #eb0807);
  -webkit-box-shadow: 0px 1px 1px #000, 0px -1px 1px #000;
  -moz-box-shadow: 0px 1px 1px #000, 0px -1px 1px #000;
  box-shadow: 0px 1px 1px #000, 0px -1px 1px #000;
  padding: 3px;
  padding-top: 7px;
  margin-top: -4px;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pull-right {
  float: right; }

.payoutTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2px; }

.meronDiv, .walaDiv {
  border: 1px outset #c00b17;
  background: linear-gradient(#c00b17, #eb0807);
  background: -webkit-linear-gradient(#c00b17, #eb0807);
  background: -moz-linear-gradient(#c00b17, #eb0807);
  -webkit-box-shadow: 0 0 5px #000;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 5px #000;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 5px #000;
  padding: .5rem;
  font-size: 25px;
  text-align: center;
  color: white;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.walaDiv {
  border: 1px outset #457aaa;
  background: linear-gradient(#457aaa, #4279ef);
  background: -webkit-linear-gradient(#457aaa, #4279ef);
  background: -moz-linear-gradient(#457aaa, #4279ef); }

.btnSuccess {
  background-color: #299400;
  border-radius: 0;
  border: none;
  color: white;
  font-family: arial;
  font-weight: bold;
  -webkit-box-shadow: 0 0 5px #000;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 5px #000;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 5px #000;
  width: 100%;
  margin-bottom: 2px;
  padding: .5rem 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.btnSuccess:hover {
  color: black; }

.payoutWords {
  border: 1px outset;
  text-align: center;
  padding: 1rem .25rem;
  -webkit-box-shadow: 0 0 5px #000;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 5px #000;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 5px #000; }
  .payoutWords span {
    display: block;
    font-weight: bold; }
  .payoutWords .payoutNumber {
    font-size: 1.5rem; }
  .payoutWords .payoutPercent {
    font-size: .9rem; }
    @media only screen and (min-width: 375px) {
      .payoutWords .payoutPercent {
        font-size: 1rem; } }

.label {
  padding: .25rem .2rem; }

.betAmountTable {
  display: flex;
  flex-direction: column;
  gap: 8px; }
  .betAmountTable div:first-child {
    display: grid;
    justify-content: center;
    grid-template-columns: 80% 19%;
    grid-column-gap: 1%; }
    .betAmountTable div:first-child input {
      padding: .5rem .15rem; }
  .betAmountTable div:nth-child(2) {
    display: grid;
    grid-template-columns: Calc(Calc(100% - 10px) / 3) Calc(Calc(100% - 10px) / 3) Calc(Calc(100% - 10px) / 3);
    justify-content: space-between;
    grid-column-gap: .15rem;
    grid-row-gap: .15rem; }
    .betAmountTable div:nth-child(2) button {
      width: 100%;
      padding: .5rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }

.dark {
  background-color: #000000;
  border-radius: 8px;
  color: #d2b008;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px; }

.success {
  background-color: #2b9900;
  border-radius: 7px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-top: 2px;
  font-size: 13px; }

.btnBet {
  border: 1px solid #d1cfd0;
  background-image: linear-gradient(#e8e6e7, #faf7f9);
  color: black;
  border-radius: 0px;
  font-family: arial;
  font-weight: bold; }

/**************************************/
.gradient {
  background: linear-gradient(#eeeee9, #faf7f9);
  background: -webkit-linear-gradient(#eeeee9, #faf7f9);
  background: -moz-linear-gradient(#eeeee9, #faf7f9); }

.meron-wala {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: .15rem;
  -webkit-box-shadow: 0 0 5px #000;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 5px #000;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 5px #000; }

.table-name {
  border: 1px outset #eeeee9;
  background: linear-gradient(#eeeee9, #faf7f9);
  background: -webkit-linear-gradient(#eeeee9, #faf7f9);
  background: -moz-linear-gradient(#eeeee9, #faf7f9);
  padding: .5rem;
  box-shadow: 2px 2px #888888;
  margin-bottom: 3px;
  font-size: .85rem; }

.meron-wala section div:nth-child(2) {
  border: 1px outset #eeeee9;
  background: linear-gradient(#eeeee9, #faf7f9);
  background: -webkit-linear-gradient(#eeeee9, #faf7f9);
  background: -moz-linear-gradient(#eeeee9, #faf7f9);
  padding: .5rem;
  font-size: 1.1rem; }

.numTable {
  -webkit-box-shadow: 0 0 15px #000;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 15px #000;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 15px #000; }

.meron-wala table {
  border: 1px solid #888888;
  background-color: #eeeee9;
  color: white;
  overflow: scroll;
  border-collapse: collapse; }
  .meron-wala table tr {
    height: 26px; }
  .meron-wala table td {
    width: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 0; }
  .meron-wala table .text-span {
    color: white;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-collapse: collapse; }

.bottom-circles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  text-align: center;
  justify-content: center;
  background: linear-gradient(#eeeee9, #faf7f9);
  background: -webkit-linear-gradient(#eeeee9, #faf7f9);
  background: -moz-linear-gradient(#eeeee9, #faf7f9);
  -webkit-box-shadow: 3px 3px 3px -3px #000, 3px 3px 3px -3px #000, -3px 3px 3px -3px #000;
  -moz-box-shadow: 3px 3px 3px -3px #000, 3px 3px 3px -3px #000, -3px 3px 3px -3px #000;
  box-shadow: 3px 3px 3px -3px #000, 3px 3px 3px -3px #000, -3px 3px 3px -3px #000; }

.circle-group {
  margin: 0;
  padding: 0 .25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-right: 2px solid #888888; }

.circle-group:last-of-type {
  border-right: none; }

.titleDesc {
  margin: 0;
  padding: 8px; }
  .titleDesc span {
    display: block; }
    .titleDesc span:nth-child(2) {
      margin-top: 2px; }
  .titleDesc .text-span {
    color: white;
    border-radius: 50%;
    font-size: .9rem;
    height: 26px;
    width: 26px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-collapse: collapse; }

.text-words {
  font-size: .45rem;
  font-weight: bold; }

.sizing {
  width: 98%;
  padding: 0; }

@media only screen and (min-width: 440px) {
  .table-name {
    font-size: 1.1rem; }

  .text-words {
    font-size: .7rem; } }
/******************************************************************
	            	    Styles for modal
******************************************************************/
.modal-own {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-container-own {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center; }

.modal-content-own {
  position: relative;
  top: calc(calc(100vh - 180px) / 2);
  background-color: #fefefe;
  border: 1px solid #888;
  width: 300px;
  align-self: center; }

.modal-body-own {
  text-align: center;
  padding: 1rem; }

.amountHeader {
  margin: 0;
  color: #dc3545 !important;
  margin-bottom: .5rem;
  font-weight: 700 !important;
  font-size: 1.5rem; }

.amountText {
  margin: 0;
  margin-bottom: .5rem;
  font-weight: 700 !important;
  font-size: 1.25rem; }

.modal-footer-own {
  text-align: center;
  padding: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: center;
  gap: 1rem;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px); }
  .modal-footer-own .btn-own {
    width: 45%;
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.modal-backdrop {
  z-index: -1 !important; }

.extra {
  height: 80px; }
  @media only screen and (min-width: 768px) and (orientation: landscape) {
    .extra {
      height: 0; } }

@media only screen and (min-width: 300PX) {
  .small-pc-browser {
    width: Calc(100vw - 27px); } }
@media only screen and (min-width: 1024px) and (orientation: landscape) {
  .small-pc-browser {
    width: Calc(50vw - 10px); } }
