body {
  margin: 0; }

.heading {
  margin: 5px;
  margin-top: Calc(5vh + 25px); }

.pageHeader {
  background-image: linear-gradient(#e8e6e7, #faf7f9);
  border-bottom: solid 0.5px #9E9E9E;
  padding: 5px 15px; }

.profileHeader {
  font-weight: bold;
  padding: 0px 20px; }

.profileDetail {
  margin: 3px 20px; }

.eventList {
  width: 100%;
  padding: 0px; }
  .eventList a {
    text-decoration: none;
    color: black; }
  .eventList li {
    border: 1px solid #9e9e9e;
    padding: 1rem .5rem;
    list-style: none; }
  .eventList li b {
    font-size: large; }
  .eventList li:hover {
    background: #D3D3D3; }

@media only screen and (min-width: 800px) {
  .depositContainer {
    width: 65%;
    margin-left: 20px;
    padding: 0px 10px 10px 0px; } }
.eventContainer {
  padding: 0px 10px; }

.badge {
  float: right;
  padding-top: 15px; }

.tab-content .eventContainer::-webkit-scrollbar {
  display: none; }

/** Hide scrollbar **/
body::-webkit-scrollbar {
  display: none; }

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

.frame {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box; }

#betDetails {
  overflow: auto;
  margin-bottom: 10px; }
