.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}