$primary-btn: #CD4A49;
$primary-hover: #b23231;
$secondary-btn: #54595F;
$secondary-hover: #3c4044;
$success-btn: #49A300;
$success-hover: #327000;
$inverted-btn: #FFFFFF;
$inverted-hover: #e6e6e6;
$dark-btn: #2D2D2D;
$dark-hover: #141414;
