@media only screen and (min-width: 64em){

    header img {
        width: 7%;
        vertical-align: middle;
    }

    nav ul{
        background-color: #111a62;
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        text-align: center;
        font-size: 1rem;
    }

    .navBar li:first-child {
		display: none;
	}

    nav li {
        display: block;
        flex: 1 1 100%;
    }

    nav li a {
        display: block;
        padding: 1em;
        color: #FFF;
        text-decoration: none;
    }

    nav a:hover {
        background-color: #667DFF;
    }

    main {
        max-width: 1260px;
    }

    main h2 {
        margin-left: 0;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 1rem;
    }

    figure:hover {
        box-shadow: 0 0 20px rgb(107, 106, 106);
    }

    .item {
        flex-basis: 50%;
    }

    .right {
        margin-left: 2%;
    }

    .imgContainer {
        padding-top: 0;
        text-align: center;
    }

    .icons {
        max-width: 10%;
        margin-right: 0.2em;
    }
}