body {
    font-family: 'Open Sans', 'sans-serif';
    margin: auto;
}

/* Popup Section */

#popup {
    background-color: #E8C146;
    color: #111A62;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    border: 2px solid #667DFF;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* Header Section */

header {
    background-color: #111a62;
    color: #FFF;
    text-align: center;
    padding: 1em;
}

header section {
    display: grid;
    grid-template-columns: 33% 66%;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 320px;
    margin: auto;
}

header img {
    max-width: 100%;
}

header h1{
    color: #FFF;
    margin: 0;
}

#tagline {
    margin: 0;
}

/* Nav Section */

nav ul{
    background-color: #111a62;
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    text-align: center;
    font-size: 1.2rem;
}

.navBar li:first-child {
    display: block;
}

nav li {
    display: none;
    flex: 1 1 100%;
}

nav li a {
    display: block;
    padding: 1em;
    color: #FFF;
    text-decoration: none;
}

nav a:hover {
    background-color: #667DFF;
}

.active {
    background-color: #E8C146;
    color: #111a62;
    font-weight: bold;
}

.responsive li {
	display: block;
}

/* Main Section */

main {
    margin: auto;
    max-width: 960px;
}

main section {
    margin: 0 3% 0 3%;
}

/* Hero Section */

#hero-ph {
    position: relative;
    margin-bottom: 0.4em;
}

#hero-ph img {
    margin: auto;
    max-width: 100%;
    margin-bottom: 1rem;
}

#overlay {
    position: absolute;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    grid-column-gap: 0.3em;
    height: 150px;
    width: 160px;
    background-color: rgba(232, 193, 70, 95%);
    padding: 0.5rem 1em;
    top: 1rem;
    left: 1rem;
    box-shadow: 0 0 20px #333;
}

#overlay h3 {
    text-align: center;
    grid-row: 1;
    grid-column: 1 / -1;
    margin: 0;
    margin-top: 0.2rem;
    font-size: 0.95em;
}

#overlay .row1 {
    grid-column: 1;
}

#overlay .row1-1 {
    grid-column: 2 / -1;
}

#overlay span {
    margin: 0;
    padding: 0.1rem;
    font-size: 0.8rem;
}

/* Forecast Section */

.forecast {
    display: none;
}

/* Events Section */

.eventContainer h3{
    text-align: center;
    margin-bottom: 0;
}

.grids {
    display: grid;
    grid-template-columns: 1fr; 
    justify-content: center;
}

.grids div {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr;
}

.grids img {
    max-width: 100%;
}

/* Article Section */

.container {
    background-color: rgba(0, 0, 0, 10%);
    padding: 1em;
    margin-bottom: 1.5em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.imgContainer {
    padding-top: 1rem;
    text-align: center;
}

.responsiveImg {
    max-width: 95%;
}

.inlne {
    display: inline;
}

.left {
    display: none;
}

.contact {
    text-align: center;
}

.icons {
    max-width: 12%;
    margin-right: 0.2em;
}

/* Footer Section */

footer {
    background-color: #111a62;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 1em;
}

footer a {
    color: #FFF;
}

.textCenter {
    text-align: center;
}

#lastModif {
    margin-bottom: 0;
    margin-top: 0.5em;
}

#typeOpen {
    font-family: 'Open Sans', sans-serif;
}

#typeMont {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #111A62;
}

.yellowLine {
    padding: 0.1em;
    background-color: #E8C146;
}