@media only screen and (min-width: 32.5em){

    header img {
        width: 15%;
        vertical-align: middle;
    }

    .persona-flex{
        margin: 0;
        display: flex;
        flex-direction: row;
    }
    
    .persona-child {
        padding: 0.5em;
        margin: 0;
        width: 50%;
    }
}