.trip-table {
    width: 320px;
    margin: 2rem auto;
}

table {
    border: 1px solid #333;
}

td, th {
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: .1rem;
}

tr:nth-child(7), tr:nth-child(8) {
    display: none;
}

.end {
    border-right: none;
}

.bottom-end {
    border-bottom: none;
}

@media only screen and (min-width: 32.5em){
    .trip-table {
        width: 540px;
    }

    td, th {
        padding: .35rem;
    }
    
    tr:nth-child(7), tr:nth-child(8) {
        display: table-row;
    }
}

@media only screen and (min-width: 64em){
    .trip-table {
        width: 75%;
    }

    td, th {
        padding: .5rem;
    }
}

@media only screen and (min-width: 64em){
    .trip-table {
        width: 75%;
    }

    td, th {
        padding: .5rem;
    }
}
@media only screen and (min-width: 112.5em){
    .trip-table {
        width: 90%;
        margin: 3rem auto;
    }

    td, th {
        padding: 1rem;
    }
}