.guides {
    max-width: 320px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.guideData {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #333;
    margin: 1rem;
}

.guideData div:nth-child(1){
    text-align: center;
}


.guideData div:nth-child(2){
    padding: 1rem;
}

.guideData img {
    max-width: 100%;
}


@media only screen and (min-width: 32.5em){

    .guides {
        max-width: 520px;
    }
}

@media only screen and (min-width: 64em){

    .guides {
        max-width: 1024px;
    }

    .guides {
        grid-template-columns: 1fr 1fr;
    }
        
    .guideData {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 96.875em){
        
    .guides {
        max-width: 1850px;
    }

    .guideData {
        grid-template-columns: .75fr 1fr;
    }

    .guideData img {
        max-width: auto;
        max-height: 100%;
    }
}

@media only screen and (min-width: 112.5em){
        

    .guideData {
        grid-template-columns: .5fr 1fr;
    }

    .guideData img {
        max-width: 100%;
        max-height: auto;
    }
}