/* Nav Section */

nav {
    grid-template-columns: .75fr 2fr .5fr;

    ul{
        display: flex;
        font-size: 1rem;
    }

    li {
        display: block;
    }
}

.navBar li:nth-child(1) {
    display: none;
}

.social {
    display: inline;

    img{
        max-width: 15%;
    }
}

/* Adventure Main Section */

.details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    div:nth-child(3) {
        grid-column: 3;
    }
}

.modal-content {
    width: 60%;
}

#adventureForm input[type="text"], #adventureForm input[type="email"], #adventureForm input[type="tel"], #adventureForm select, #adventureForm textarea {
    width: 100%;
}

/* Contact Section */

.contact-page {

    form {
        width: 50%;
    }

    textarea {
        height: 150px;
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    input[type="submit"] {
        width: 25%;
    }
}

/* Newsletter Section */

.newsletter {
    grid-template-columns: 1fr 1fr;
}

/* Footer Section */

footer .social img{
    max-width: 7%;
}