@media only screen and (min-width: 64em){

    /* Nav Section */

    nav {
        grid-template-columns: .75fr 2fr .5fr;
    }

    nav ul{
        display: flex;
        font-size: 1rem;
    }

    .navBar li:nth-child(1) {
        display: none;
    }

    nav li {
        display: block;
    }

    .social {
        display: inline;
    }

    .social img{
        max-width: 15%;
    }

    .CTA h1 {
        font-size: 3rem;
        margin: 1.5rem;
    }

    /* Weather Section */

    .weather {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .weather-data:nth-child(1) {
        grid-column: 1;
    }

    .weather-data:nth-child(2), .weather-data:nth-child(3), .weather-data:nth-child(4) {
        border-right: 1px solid #333;
        border-top: none;
    }
    
    .weather-data:nth-child(5) {
        border-top: none;
    }

    /* Blog Section */

    .blog {
        grid-template-columns: 1fr 1fr;
    }

    /* River Section */

    .river {
        grid-template-columns: 1fr 1fr;
    }

    /* Trips Section */

    .trips {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /* Contact Section */

    .contact {
        border: 1px solid #333;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-column-gap: .5rem;
    }

    .contact div:nth-child(1) {
        grid-column: 1/3;
        padding: 2rem 10rem;
    }

    
    .contact-page input[type="text"],  .contact-page input[type="email"], .contact-page input[type="tel"], .contact-page select, .contact-page textarea {
        width: 75%;
    }

    .contact-page textarea {
        height: 150px;
    }

    .contact-page input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .contact-page input[type="submit"] {
        width: 25%;
    }

    /* Newsletter Section */

    .newsletter {
        grid-template-columns: 1fr 1fr;
    }

    /* Footer Section */

    footer .social img{
        max-width: 7%;
    }
}