/* Guide Section */

.guides {
    max-width: 520px;
}

/* Newsletter Section */

.newsletter form {
    grid-template-columns: 1fr 1fr 1fr;
}

/* Footer Section */

footer {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    text-align: left;
    padding: 0;

    div:nth-child(1) {
        padding-left: .75rem;
    }

    .social {
        text-align: right;
        padding: .5rem;
        padding-right: .75rem;

        .social img{
            max-width: 15%;

        }
    }
}