.guides {
    max-width: 1850px;
}

.guideData {
    grid-template-columns: .75fr 1fr;

    div:nth-child(1){
        text-align: left;
    }

    img {
        max-width: auto;
        max-height: 100%;
    }
}