body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: #F3F7F5;
}

/* Header Section */

nav {
    background-color: #034687;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    ul{
        margin: 0;
        padding: 0;
        display: inline;
        list-style: none;
        text-align: center;
        font-size: 1.2rem;
    }

    li {
        display: none;
        flex: 1 1 100%;

        a {
            display: block;
            padding: 1em;
            color: #FFF;
            text-decoration: none;
        }

        a:hover {
            background-color: #E10032;
        }
    }
}

.logo {
    display: inline;

    img {
        width: 80%;
    }
}

.navBar li:first-child {
    display: inline;
    text-align: left;
}

.responsive li {
	display: block;
}

.active {
    background-color: #F3F7F5;
    color: #034687;
    font-weight: bold;
}

.social {
    display: none;
    text-align: right;
    padding-right: 5%;

    img{
        max-width: 10%;
    }
}

/* Main Section */

main section {
    max-width: 1850px;
    margin: 2rem 2%;
}

/* Hero Section */

.hero {
    position: relative;

    img {
        max-width: 100%;
    }
}

.CTA {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.text-container {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
}

/* Weather Section */

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    border: 1px solid #333;
}

.weather img {
    max-width: 100%;
}

.weather-data {
    text-align: center;
    justify-content: center;
    border-right: 1px solid #333;
    padding: 1rem;

    h4 {
        margin-bottom: 0;
    }
}

.weather-data:nth-child(1) {
    grid-column: 1 / 3;
    border-right: none;
}

.weather-data:nth-child(2) {
    border-right: 1px solid #333;
    border-top: 1px solid #333;
}

.weather-data:nth-child(3) {
    border-right: none;
    border-top: 1px solid #333;
}

.weather-data:nth-child(4) {
    border-right: 1px solid #333;
    border-top: 1px solid #333;
}

.weather-data:nth-child(5) {
    border-right: none;
    border-top: 1px solid #333;
}

.weather-data:nth-child(1) div:nth-child(1) {
    margin-bottom: 1.33rem;
}

.weather-data:nth-child(1) div:nth-child(2), .weather-data:nth-child(1) div:nth-child(3) {
    text-align: left;
}

.weather-data div strong {
    font-size: 2rem;
}

.weather-data div:nth-child(2) p {
    margin-top: 0;
}

.weather-data:nth-child(1) div:nth-child(3) p {
    margin: 0;
}

.weather-data div:nth-child(1) p {
    margin-top: 0;
}

/* Blog Section */

.blog {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;

    img {
        max-width: 100%;
    }
}

.main-article {
    text-align: left;
    position: relative;
}

.sub-article {
    position: relative;
}

.main-article:hover .overlay, .container:hover .overlay-small, .container:hover .overlay-small-2 {
    opacity: .7;
}

.overlay, .overlay-small, .overlay-small-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 99%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F29F05;
}

.overlay-small, .overlay-small-2 {
    left: 1.5%;
    height: 49%;
    width: 98.5%;
}

.overlay-small-2 {
    top: 50%;
}

.text, .text-small {
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text-small {
    font-size: 1rem;
    width: 80%;
  }

  .text h3 {
    margin-bottom: 2rem;
  }

/* River Section */

.river {
    border: 1px solid #333;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    grid-column-gap: .5rem;

    div:nth-child(1) {
        text-align: center;
    }

    img {
        max-width: 100%;
    }

    div:nth-child(2) {
        padding: .8rem .8rem .8rem 1.25rem;

        h2 {
            text-align: center;
            font-size: 1.75rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

/* Trips Section */

.trips {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    text-align: center;

    img {
        max-width: 100%;
    }
}

.trip-data {
    border: 1px solid #333;
    margin: 1rem 2%;
    text-align: center;
    max-width: 400px;
    justify-content: center;

    div:nth-child(2) {
        padding: 0 1.5rem 1.5rem 1.5rem;
    
        h3 {
            font-size: 1.25rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

.book-btn {
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #E10032;
    border: none;
    border-radius: 10px;
    color: #FFF;
    text-decoration: none;
    line-height: 3rem;
}

.book-btn:hover {
    background-color: #034687;
}

/* Contact Section */

.contact {
    border: 1px solid #333;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-gap: .5rem;

    div:nth-child(1) {
        grid-column: 1;
        padding: 2rem;
        
        h2 {
            font-size: 1.75rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

iframe {
    width: 100%;
}
#map {
    width: 100%;
    height: 400px;
}

.blue {
    background-color: #034687;
    height: 84px;
}


/* Newsletter Section */

.newsletter {
    background-color: #034687;
    color: #FFF;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 1rem;

    h3 {
        margin-bottom: 0;
        font-size: 1.2rem;
        text-align: center;
    }

    p {
        margin-top: 0;
        font-size: .9rem;
        text-align: center;
    }

    form {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 20px;

        div {
            width: 100%;
        }
    }

    input {
        display: block;
    }

    input[type="text"], input[type="email"] {
        margin-top: .25rem;
        padding: .5rem;
        width: 90%;
    }

    .btn {
        padding: 1rem;
        font-size: 1.1rem;
        background-color: #E10032;
        color: #FFF;
        border: none;
        border-radius: 10px;
    }

    .btn:hover {
        background-color: #F3F7F5;
        color: #333;
    }
}

/* Footer Section */

footer {
    display: grid;
    grid-template-columns: 2fr;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 1rem 0 1rem;

    span {
        font-size: 1.2rem;
    }

    a {
        font-size: 1.2rem;
        color: #000000;
    }

    .social {
        display: block;
        text-align: center;
        padding: 1rem;

        img{
            max-width: 12%;
        }
    }
}