body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: #F3F7F5;
}

/* Header Section */

nav {
    background-color: #034687;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    ul{
        margin: 0;
        padding: 0;
        display: inline;
        list-style: none;
        text-align: center;
        font-size: 1.2rem;
    }

    li {
        display: none;
        flex: 1 1 100%;

        a {
            display: block;
            padding: 1em;
            color: #FFF;
            text-decoration: none;
        }

        a:hover {
            background-color: #E10032;
        }
    }
}

.logo {
    display: inline;

    img {
        width: 80%;
    }
}

.navBar li:first-child {
    display: inline;
    text-align: left;
}

.responsive li {
	display: block;
}

.active {
    background-color: #F3F7F5;
    color: #034687;
    font-weight: bold;
}

.social {
    display: none;
    text-align: right;
    padding-right: 5%;

    img{
        max-width: 10%;
    }
}

/* Main Section */

main section {
    max-width: 1850px;
    margin: 2rem 2%;
}

/* Hero Section */

.hero {
    position: relative;

    img {
        max-width: 100%;
    }
}

/* Trip Data */

/* Trips Section */

.trips {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    text-align: center;

    img {
        max-width: 100%;
    }
}

.trip-data {
    border: 1px solid #333;
    margin: 1rem 2%;
    text-align: center;
    max-width: 400px;
    justify-content: center;

    div:nth-child(2) {
        padding: 0 1.5rem 1.5rem 1.5rem;
    
        h3 {
            font-size: 1.25rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

.book-btn {
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #E10032;
    border: none;
    border-radius: 10px;
    color: #FFF;
    text-decoration: none;
    line-height: 3rem;
}

.book-btn:hover {
    background-color: #034687;
}

.blue {
    background-color: #034687;
    height: 84px;
}

/* Footer Section */

footer {
    display: grid;
    grid-template-columns: 2fr;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 1rem 0 1rem;


    span {
        font-size: 1.2rem;
    }

    a {
        font-size: 1.2rem;
        color: #000000;
    }

    .social {
        display: block;
        text-align: center;
        padding: 1rem;

        img{
            max-width: 12%;
        }
    }
}