body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: #F3F7F5;
}

/* Header Section */

nav {
    background-color: #034687;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    ul{
        margin: 0;
        padding: 0;
        display: inline;
        list-style: none;
        text-align: center;
        font-size: 1.2rem;
    }

    li {
        display: none;
        flex: 1 1 100%;

        a {
            display: block;
            padding: 1em;
            color: #FFF;
            text-decoration: none;
        }

        a:hover {
            background-color: #E10032;
        }
    }
}

.logo {
    display: inline;

    img {
        width: 80%;
    }
}

.navBar li:first-child {
    display: inline;
    text-align: left;
}

.responsive li {
	display: block;
}

.active {
    background-color: #F3F7F5;
    color: #034687;
    font-weight: bold;
}

.social {
    display: none;
    text-align: right;
    padding-right: 5%;

    img{
        max-width: 10%;
    }
}

/* Main Section */

main section {
    max-width: 1850px;
    margin: 2rem 2%;
}

/* Hero Section */

.hero {
    position: relative;

    img {
        max-width: 100%;
    }
}

/* Adventure Main Section */

.summary-data {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    font-size: 1.3rem;
    padding: .5rem;

    h1, h2 {
        font-size: 1.5rem;
    }
}

.details {
    display: grid;
    grid-template-columns: 1fr;

    .details p {
        margin: .8rem;
    }
}

.spans {
    display: grid;
    grid-template-columns: 1fr 1fr;

    span, p {
        margin: .8rem;
    }
}

.buttonContainer {
    max-width: 100%;
    text-align: center;
    background-color: #034687;
}

.white-btn {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
    background-color: #F3F7F5;
    color: #034687;
    border: none;
    border-radius: 10px;
}

.red-btn {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
    background-color: #E10032;
    color: #FFF;
    border: none;
    border-radius: 10px;
}

.white-btn:hover {
    background-color: #E10032;
    color: #FFF;
    font-weight: bold;
}

.red-btn:hover {
    background-color: #F3F7F5;
    color: #034687;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 90%;
}

#adventureForm {
    width: 85%;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Contact Section */

.contact-page {

    form {
        width: 75%;
        margin: auto;

        div {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    input[type="text"],  input[type="email"], input[type="tel"], select, textarea {
        display: block;
        width: 100%;
        height: 40px;
        margin-top: .5rem;
        margin-bottom: 1rem;
        padding-left: .25rem;
    }

    textarea {
        height: 100px;
    }

    input[type="checkbox"] {
        width: 25px;
        height: 25px;
        margin-top: .5rem;
        margin-bottom: 2rem;
    }

    input[type="submit"] {
        width: 50%;
    }

    h2 {
        margin-bottom: .5rem;
    }

    small {
        display: block;
        margin-bottom: 1.5rem;
    }

    .req {
        color: #E10032;
    }

    input:required {
        border-left: 4px solid #E10032;
    }
    
    input:valid {
        border-left: 4px solid green;
    }

    input[type="submit"]:valid {
        border: none;
    }

}

.book-btn {
    padding: 1rem;
    font-size: 1.1rem;
    background-color: #E10032;
    color: #FFF;
    border: none;
    border-radius: 10px;
}

.book-btn:hover {
    background-color: #034687;
}

/* Footer Section */

footer {
    display: grid;
    grid-template-columns: 2fr;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 1rem 0 1rem;


    span {
        font-size: 1.2rem;
    }

    a {
        font-size: 1.2rem;
        color: #000000;
    }

    .social {
        display: block;
        text-align: center;
        padding: 1rem;

        img{
            max-width: 12%;
        }
    }
}