/* Nav Section */

nav {
    grid-template-columns: .65fr 2fr  .5fr;
}

.social img{
    max-width: 10%;
}

.text-container {
    top: 65%;
}

/* Footer Section */

footer .social img{
    max-width: 5%;
}