@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  margin: auto; }

img {
  max-width: 100%; }

.btnContainer > button {
  display: flex;
  justify-content: center;
  margin: .5rem auto; }

.btn {
  max-width: 200px;
  width: 100%;
  background-color: black;
  color: white;
  padding: .5rem 1rem;
  border-radius: 5px;
  text-decoration: none; }

.btn-var {
  max-width: 200px;
  width: 100%;
  background-color: white;
  color: black;
  padding: .5rem 1rem;
  border-radius: 5px;
  text-decoration: none; }

.login {
  background-color: black;
  background-image: url(../images/bg-gold.svg);
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  height: Calc(100vh - 2rem); }
  .login main {
    width: 100%;
    background-color: white;
    padding: 1rem; }
    .login main .imageContainer {
      text-align: center;
      margin-bottom: 1rem; }
      .login main .imageContainer img {
        max-width: 150px; }
    .login main form label {
      display: block;
      margin-bottom: .25rem; }
    .login main form input {
      width: 100%;
      height: 30px;
      padding: .25rem;
      padding-left: .5rem;
      margin-bottom: .5rem; }
    .login main form input:last-of-type {
      margin-bottom: 1rem; }
    .login main #editForm {
      padding: 1rem 0; }
      .login main #editForm h2 {
        text-align: center; }
    .login main .bodyFooter {
      text-align: center; }

.home {
  margin: 0 auto;
  padding: 0;
  width: 100%; }
  .home header {
    max-height: 300px; }
    .home header .imageContainer {
      max-height: 300px; }
      .home header .imageContainer img {
        width: 100%;
        height: 300px;
        object-fit: cover; }
  .home main {
    background-color: white;
    padding: 1rem;
    margin-bottom: 5rem; }
    .home main .bookingList {
      border: 1px solid #333; }
    .home main .booking {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2px 5px;
      border-bottom: 1px solid #333; }
      .home main .booking p:last-child {
        text-align: right; }
      .home main .booking:last-child {
        border-bottom: none; }
  .home footer {
    background-color: black;
    width: 100%;
    max-width: 600px;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    align-items: center; }
    .home footer a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px; }
      .home footer a:hover {
        background-color: #ddd;
        color: #333; }
      .home footer a .active {
        background-color: #4CAF50;
        color: white; }
    .home footer .logoContainer {
      text-align: center; }
      .home footer .logoContainer img {
        width: 100%;
        max-width: 35px; }

.setting {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  background-color: black;
  background-image: url(../images/bg-gold.svg);
  height: Calc(100vh - 2rem); }
  .setting form {
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem; }
    .setting form label {
      display: block;
      margin-bottom: .25rem; }
    .setting form input {
      width: 100%;
      height: 30px;
      padding: .25rem;
      padding-left: .5rem;
      margin-bottom: .5rem; }
    .setting form input:last-of-type {
      margin-bottom: 1rem; }
    .setting form h2 {
      text-align: center; }
    .setting form .bodyFooter {
      text-align: center; }
  .setting footer {
    margin: 0 auto;
    background-color: black;
    max-width: 600px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    align-items: center; }
    .setting footer a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px; }
      .setting footer a:hover {
        background-color: #ddd;
        color: #333; }
      .setting footer a .active {
        background-color: #4CAF50;
        color: white; }
    .setting footer .logoContainer {
      text-align: center; }
      .setting footer .logoContainer img {
        width: 100%;
        max-width: 35px; }

.book {
  margin: 0 auto;
  padding: 0;
  width: 100%; }
  .book header {
    max-height: 300px; }
    .book header .imageContainer {
      max-height: 300px; }
      .book header .imageContainer img {
        width: 100%;
        height: 300px;
        object-fit: cover; }
  .book main {
    background-color: white;
    padding: 1rem;
    margin-bottom: 5rem; }
    .book main .calendar {
      margin-bottom: 1rem; }
    .book main .timeslot {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      margin-bottom: 1rem; }
    .book main .services {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
    .book main .service {
      border: 1px solid #333;
      box-shadow: 0 0 5px #ccc; }
      .book main .service h3, .book main .service p {
        padding: 0 .5rem; }
      .book main .service .btn-var {
        margin-left: .5rem;
        margin-bottom: 1rem; }
    .book main .selectedTime, .book main .selectedService {
      background-color: #000;
      color: #fff;
      border-color: #fff; }
  .book footer {
    background-color: black;
    max-width: 600px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    align-items: center; }
    .book footer a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px; }
      .book footer a:hover {
        background-color: #ddd;
        color: #333; }
      .book footer a .active {
        background-color: #4CAF50;
        color: white; }
    .book footer .logoContainer {
      text-align: center; }
      .book footer .logoContainer img {
        width: 100%;
        max-width: 35px; }

ul {
  list-style-type: none; }

/* Month header */
.month {
  padding: 1.5rem;
  width: 100%;
  background: #1abc9c;
  text-align: center; }

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  align-items: center; }

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px; }

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: .5rem;
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center; }

.weekdays li {
  color: #666;
  text-align: center; }

/* Days (1-31) */
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: .5rem;
  justify-content: center;
  padding: .5rem;
  background: #eee;
  margin: 0;
  text-align: center; }
  .days li {
    list-style-type: none;
    text-align: center;
    margin-bottom: 5px;
    color: #777;
    padding: 5px; }
    .days li a {
      text-decoration: none;
      color: black; }
  .days .today {
    background: #1abc9c; }
    .days .today a {
      color: white; }
  .days .selectedDay {
    background-color: black; }
    .days .selectedDay a {
      color: white; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }
