@media only screen and (min-width: 55em){

    #overlay {
        height: 200px;
        width: 200px;
        top: 2rem;
        left: 3rem;
    }
    
    #overlay h3 {
        font-size: 1.2em;
    }
    
    #overlay span {
        margin: 0;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 64em){

    header img {
        width: 7%;
        vertical-align: middle;
    }

    nav ul{
        background-color: #111a62;
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        text-align: center;
        font-size: 1rem;
    }

    .navBar li:first-child {
		display: none;
	}

    nav li {
        display: block;
        flex: 1 1 100%;
    }

    nav li a {
        display: block;
        padding: 1em;
        color: #FFF;
        text-decoration: none;
    }

    nav a:hover {
        background-color: #667DFF;
    }

    .persona-flex{
        margin: 0;
        display: flex;
        flex-direction: row;
    }
    
    .persona-child {
        padding: 0.5em;
        margin: 0;
        width: 50%;
    }

    #hero-ph {
        position: relative;
    }
    
    #hero-ph img {
        margin: auto;
        max-width: 100%;
    }

    .grid {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .item {
        flex-basis: 50%;
    }

    .right {
        margin-left: 2%;
    }

    .imgContainer {
        padding-top: 0;
        text-align: center;
    }
    
    .responsiveImg {
        max-width: 95%;
    }

    .icons {
        max-width: 10%;
        margin-right: 0.2em;
    }
}