@media only screen and (min-width: 32.5em){

    header img {
        width: 14%;
    }

    .persona-flex{
        margin: 0;
        display: flex;
        flex-direction: row;
    }
    
    .persona-child {
        padding: 0.5em;
        margin: 0;
        width: 50%;
    }

    #hero-ph {
        position: relative;
    }
    
    #hero-ph img {
        margin: auto;
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .cards section{
        grid-template-columns: 1fr 1fr;
        padding: 0;
        margin: .5rem;
    }

    .cards section:nth-child(2) .col-2 {
        order: -1;
    }

    .col-1, .col-2 {
        padding: 1rem;
    }

    .left {
        display: block;
    }

    .imgContainer {
        padding-top: 0.5rem;
        text-align: center;
    }

    .icons {
        max-width: 5%;
        margin-right: 0.2em;
    }

}