@media only screen and (min-width: 32.5em){

    header img {
        width: 14%;
    }

    .cards {
        margin: 1rem 2%;
    }

    .cards section{
        grid-template-columns: 1fr 1fr;
        padding: 0;
        margin: .5rem;
    }

    .col-2 {
        order: 1;
        padding-top: 0;
    }

    .cards section:nth-child(2) .col-2 {
        order: -1;
    }

    .cards img {
        max-width: 100%;
    }

    .col-1, .col-2 {
        padding: 1rem;
    }

    .grid {
        grid-template-columns: 45% 55%;
    }
    
    .right {
        margin-left: 2%;
    }

    .left {
        display: block;
    }

    .imgContainer {
        padding-top: 0.5rem;
        text-align: center;
    }

    .icons {
        max-width: 10%;
        margin-right: 0.2em;
    }

}