@media only screen and (min-width: 64em){

    header img {
        width: 10%;
        vertical-align: middle;
    }

    nav ul{
        background-color: #111a62;
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        text-align: center;
        font-size: 1rem;
    }

    .navBar li:first-child {
		display: none;
	}

    nav li {
        display: block;
        flex: 1 1 100%;
    }

    nav li a {
        display: block;
        padding: 1em;
        color: #FFF;
        text-decoration: none;
    }

    nav a:hover {
        background-color: #667DFF;
    }

    .persona-flex{
        margin: 0;
        display: flex;
        flex-direction: row;
    }
    
    .persona-child {
        padding: 0.5em;
        margin: 0;
        width: 50%;
    }

    #hero-ph {
        position: relative;
    }
    
    #hero-ph img {
        margin: auto;
        max-width: 100%;
    }
    
    #overlay {
        position: absolute;
        background-color: rgba(232, 193, 70, 95%);
        padding: 0.5rem 1em;
        top: 2rem;
        left: 3rem;
    }

    .grid {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
        justify-content: center;
    }

    .item {
        flex-basis: 50%;
    }

    .left {
        display: block;
    }

    .imgContainer {
        padding-top: 0.5rem;
        text-align: center;
    }
    
    .responsiveImg {
        max-width: 95%;
    }
}