@media only screen and (min-width: 64em){
    
    /* Nav Section */

    nav ul{
        background-color: #111a62;
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        text-align: center;
        font-size: 1rem;
    }

    .navBar li:first-child {
		display: none;
	}

    nav li {
        display: block;
        flex: 1 1 100%;
    }

    nav li a {
        display: block;
        padding: 1em;
        color: #FFF;
        text-decoration: none;
    }

    nav a:hover {
        background-color: #667DFF;
    }
    
    /* Cards Section */

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 1.25rem;
    }

    .cards section{
        grid-template-columns: 1fr;
        padding: 0;
        margin: .5rem;
    }

    .cards section:nth-child(2) .col-2 {
        order: 1;
    }

    .col-1 {
        padding: 0;
    }

    .col-2 {
        padding: 1rem;
    }
    
    /* Article Section */

    .container {
        margin-bottom: 1.75em;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .imgContainer {
        padding-top: 0;
        text-align: center;
    }
}