ul {list-style-type: none;}

/* Month header */
.month {
    padding: 1.5rem;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 15px 1fr 15px;
    align-items: center;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: .5rem;
    background-color:#ddd;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
}

.weekdays li {
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: .5rem;
    justify-content: center;
    padding: .5rem;
    background: #eee;
    margin: 0;
    text-align: center;
    
    li {
        list-style-type: none;
        text-align: center;
        margin-bottom: 5px;
        color: #777;
        padding: 5px;

        a {
            text-decoration: none;
            color: black;
        }
    }

    .today {
        background: #1abc9c;
        a {
            color: white;
        }
    }

    .selectedDay {
        background-color: black;
        a {
            color: white;
        }
    }
}

