.home {
    margin: 0;
    padding: 0;
    width: 100%;

    header {
        max-height: 300px;
    }

    main {
        background-color: white;
        padding: 1rem;
        margin-bottom: 2rem;

        .bookingList{
            border: 1px solid #333;
        }

        .booking {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 2px 5px;
            border-bottom: 1px solid #333;

            p:last-child{
                text-align: right;
            }

            &:last-child{
                border-bottom: none;
            }
        }
    }


    footer {
        background-color: black;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr;
        align-items: center;
    
        a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        
            &:hover {
                background-color: #ddd;
                color: #333;
            }
    
            .active {
                background-color: #4CAF50;
                color: white;
            }
        }

        .logoContainer {
            text-align: center;

            img {
                width: 100%;
                max-width: 35px;
            }
        }
    }
}