.fh {
    height: 100%
}

.footer {
    font-weight: 400;
    font-size: 15px
}

.footer li,
.footer ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.footer li.tldSelector .arrowDown {
    color: #20262e
}

.footer li.tldSelector .selectedLabel {
    line-height: inherit
}

.footer .separator {
    border: none;
    height: 1px;
    width: 100%
}

.navigation {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 35px
}

.menuLinks {
    font-size: 15px;
    line-height: 24px
}

.socialShareIcon a,
.socialShareIcon span {
    display: block
}

.copyright,
.heading {
    max-width: 1024px
}

.browseLinks,
.copyright {
    line-height: 24px
}

.browseLinks a,
.copyright a {
    text-decoration: underline;
    color: #404040
}

.browseLinks .sepafter:not(:last-child):after {
    content: ", "
}

.sep.sep {
    background: transparent;
    border-right: 1px solid #c2c2c2
}

.footerNarrow .footerHelpLinks {
    margin: 24px auto;
    font-size: 14px
}

.footerNarrow .footerHelpLinks ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.footerNarrow+.copyright p {
    font-size: 14px
}

.footerLight {
    background-color: #fff;
    color: #404040
}

.footerLight p,
.footerLight span {
    color: #404040;
    margin: 0
}

.footerLight .browseLinks a,
.footerLight .browseLinks a:active,
.footerLight .browseLinks a:hover,
.footerLight .browseLinks a:link,
.footerLight .browseLinks a:visited,
.footerLight .legalLinks a,
.footerLight .legalLinks a:active,
.footerLight .legalLinks a:hover,
.footerLight .legalLinks a:link,
.footerLight .legalLinks a:visited,
.footerLight .menuLinks a,
.footerLight .menuLinks a:active,
.footerLight .menuLinks a:hover,
.footerLight .menuLinks a:link,
.footerLight .menuLinks a:visited {
    color: #404040
}

.footerLight .separator {
    border-top: 1px solid #dee0e3
}

.footerLight .footerLogo path {
    fill: #0caa41
}

.footerLight .socialShareIcon .android-svg path,
.footerLight .socialShareIcon .apple-svg #apple-leaf,
.footerLight .socialShareIcon .apple-svg #apple-logo {
    fill: #858c94
}

.footerLight .socialShareIcon .facebook-svg ellipse,
.footerLight .socialShareIcon .glassdoor-svg ellipse,
.footerLight .socialShareIcon .twitter-svg ellipse {
    fill: #dee0e3
}

.footerLight .socialShareIcon .facebook-svg path,
.footerLight .socialShareIcon .glassdoor-svg path,
.footerLight .socialShareIcon .twitter-svg path {
    fill: #505863
}

.footerLight .socialShareIcon .youtube-svg #Oval {
    fill: #dee0e3
}

.footerLight .socialShareIcon .youtube-svg path {
    fill: #505863
}

.footerLight .socialShareIcon .instagram-svg circle {
    fill: #dee0e3
}

.footerLight .socialShareIcon .instagram-svg path,
.footerLight .socialShareIcon:hover .apple-svg #apple-leaf,
.footerLight .socialShareIcon:hover .apple-svg #apple-logo {
    fill: #505863
}

.footerLight .socialShareIcon:hover .facebook-svg path,
.footerLight .socialShareIcon:hover .glassdoor-svg path,
.footerLight .socialShareIcon:hover .instagram-svg path,
.footerLight .socialShareIcon:hover .twitter-svg path,
.footerLight .socialShareIcon:hover .youtube-svg path {
    fill: #fff
}

.footerDark {
    background: #404040;
    color: #fff
}

.footerDark p,
.footerDark span {
    color: #fff;
    margin: 0
}

.footerDark .navigation .dropdownOptions {
    background: #404040
}

.footerDark .browseLinks a,
.footerDark .browseLinks a:active,
.footerDark .browseLinks a:hover,
.footerDark .browseLinks a:link,
.footerDark .browseLinks a:visited,
.footerDark .legalLinks a,
.footerDark .legalLinks a:active,
.footerDark .legalLinks a:hover,
.footerDark .legalLinks a:link,
.footerDark .legalLinks a:visited,
.footerDark .menuLinks a,
.footerDark .menuLinks a:active,
.footerDark .menuLinks a:hover,
.footerDark .menuLinks a:link,
.footerDark .menuLinks a:visited {
    color: #fff
}

.footerDark .separator {
    border-top: 1px solid #7f7f7f
}

.footerDark .socialShareIcon .apple-svg #apple-leaf,
.footerDark .socialShareIcon .apple-svg #apple-logo {
    fill: #fff
}

.footerDark .socialShareIcon:hover .apple-svg #apple-leaf,
.footerDark .socialShareIcon:hover .apple-svg #apple-logo {
    fill: #505863
}

.footerDark .tldSelector span.dropdownOptionLabel:hover {
    color: #404040
}

.footerDark .socialShareIcon:hover .android-svg path,
.footerLight .socialShareIcon:hover .android-svg path {
    fill: #a4c639
}

.footerDark .socialShareIcon:hover .glassdoor-svg ellipse,
.footerLight .socialShareIcon:hover .glassdoor-svg ellipse {
    fill: #0caa41
}

.footerDark .socialShareIcon:hover .facebook-svg ellipse,
.footerLight .socialShareIcon:hover .facebook-svg ellipse {
    fill: #0077fb
}

.footerDark .socialShareIcon:hover .twitter-svg ellipse,
.footerLight .socialShareIcon:hover .twitter-svg ellipse {
    fill: #1e90ff
}

.footerDark .socialShareIcon:hover .youtube-svg #Oval,
.footerLight .socialShareIcon:hover .youtube-svg #Oval {
    fill: red
}

.footerDark .socialShareIcon:hover .instagram-svg circle,
.footerLight .socialShareIcon:hover .instagram-svg circle {
    fill: #e1306c
}

.ccpaModalText p {
    color: #404040
}

/*# sourceMappingURL=https://artifactory.qa.jagundi.com/artifactory/npm-internal/gd-footer/-/gd-footer-4.1.13.tgz!/package/dist/gd-footer.bundle.css.map*/