.HeaderStyles__pageLock {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden
}

.HeaderStyles__navigationBackground {
    background: #fff
}

.HeaderStyles__relativePosition {
    position: relative
}

.HeaderStyles__justifyContentEvenly {
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly
}

.HeaderStyles__menu {
    background-color: #f5f6f7
}

.HeaderStyles__menu:not(:first-of-type) {
    border-top: 1px solid #dee0e3
}

.HeaderStyles__menu .header-menu-item {
    background-color: #fff
}

.HeaderStyles__menu .header-menu-item-label {
    border-bottom: 1px solid #dee0e3
}

.HeaderStyles__menu:not(:last-of-type) li:last-of-type .header-menu-item-label {
    border-bottom: none
}

.HeaderStyles__list {
    list-style: none
}

.HeaderStyles__bottomShadow {
    -webkit-box-shadow: inset 0 -1px 0 0 #dee0e3;
    box-shadow: inset 0 -1px 0 0 #dee0e3
}

.HeaderStyles__bottomBorder {
    border-bottom: 1px solid #dee0e3
}

.HeaderStyles__navigationItem {
    cursor: pointer;
    line-height: 1.6;
    position: relative
}

.HeaderStyles__navigationItem:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px
}

.HeaderStyles__navigationItem.HeaderStyles__activeNavigationItem:after {
    background: #0caa41
}

.HeaderStyles__primaryNavigation .HeaderStyles__navigationItem {
    min-height: 56px
}

.HeaderStyles__primaryNavigation .gd-ui-button {
    border-radius: 3px;
    border: 1px solid transparent;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-transition: color .2s ease-out, background-color .2s ease-out;
    -o-transition: color .2s ease-out, background-color .2s ease-out;
    transition: color .2s ease-out, background-color .2s ease-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 88px;
    background-color: transparent;
    padding: 4px 16px
}

@media (max-width:766px) {
    .HeaderStyles__primaryNavigation .gd-ui-button {
        min-width: 75px !important;
        padding: 3px 16px !important
    }
}

.HeaderStyles__primaryNavigation .gd-ui-button:link,
.HeaderStyles__primaryNavigation .gd-ui-button:visited {
    color: #505863
}

.HeaderStyles__primaryNavigation .gd-ui-button:link.HeaderStyles__activeMenuItem,
.HeaderStyles__primaryNavigation .gd-ui-button:visited.HeaderStyles__activeMenuItem {
    color: #20262e
}

.HeaderStyles__navigationWrapper {
    margin: 0 auto;
    max-width: 1280px
}

.HeaderStyles__navigationScroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.HeaderStyles__navigationScroll::-webkit-scrollbar {
    display: none
}

@media (min-width:767px) {
    .HeaderStyles__navigationScroll {
        overflow: visible
    }
}

.HeaderStyles__secondaryNavigation {
    background-color: #fff
}

@media (min-width:767px) {
    .HeaderStyles__secondaryNavigation {
        background-color: #f5f6f7
    }
}

.HeaderStyles__secondaryNavigation .HeaderStyles__secondaryNavigationItem:hover:not(.HeaderStyles__activeNavigationItem):after {
    background: #c4c7cc
}

.HeaderStyles__activeButton {
    background-color: #dee0e3 !important;
    color: #505863
}

.HeaderStyles__iconBtn {
    border: none;
    background-color: transparent
}

.HeaderStyles__mainNav {
    position: relative;
    min-height: 48px
}

@media (max-width:766px) {
    .HeaderStyles__brandLogoContainer {
        position: absolute;
        margin-left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 0;
        z-index: 1
    }
}

@media (min-width:767px) {
    .HeaderStyles__brandLogo svg {
        height: 32px;
        width: 163px
    }
}

.HeaderStyles__notificationBadge {
    position: relative
}

.HeaderStyles__notificationBadge:after {
    content: "";
    position: absolute;
    background: #ea7600;
    width: 14px;
    height: 14px;
    overflow: hidden;
    top: -4px;
    right: -4px;
    border-radius: 50%;
    border: 2px solid #fff
}

.HeaderStyles__h1 {
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    color: #20262e
}

.HeaderStyles__mobileAvatar {
    height: 24px;
    width: 24px;
    border-radius: 50%
}

.HeaderStyles__searchNavigation {
    height: unset !important
}

.HeaderStyles__searchNavigation .HeaderStyles__searchNavigationItem {
    min-height: 56px
}

.HeaderStyles__searchNavigation .HeaderStyles__searchNavigationItem .HeaderStyles__searchNavigationBtn {
    min-width: unset
}

.HeaderStyles__stickyWrapper {
    position: relative;
    height: 56px
}

.HeaderStyles__stickyWrapper:not(.HeaderStyles__sticky) .HeaderStyles__stickyInner {
    background-color: transparent !important
}

.HeaderStyles__stickyWrapper.HeaderStyles__sticky .HeaderStyles__stickyInner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    background: #fff
}

.HeaderStyles__signInButton {
    color: #1861bf;
    background-color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 700;
    font-family: Lato;
    cursor: pointer
}

.IconStyles__colorDefault {
    color: #505863 !important
}

.IconStyles__colorActive {
    color: #20262e !important
}

.IconStyles__colorNavigation {
    color: #858c94
}

.PopupStyles__popupContainer {
    position: relative
}

.PopupStyles__popupContent {
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity .22s ease-in-out, z-index .22s ease-in-out;
    -o-transition: opacity .22s ease-in-out, z-index .22s ease-in-out;
    transition: opacity .22s ease-in-out, z-index .22s ease-in-out
}

.PopupStyles__popupContent ul+ul {
    border-top: 1px solid #dee0e3
}

.PopupStyles__popupBackground {
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 5px rgba(133, 140, 148, .3), 0 0 2px 0 #c4c7cc;
    box-shadow: 0 4px 5px rgba(133, 140, 148, .3), 0 0 2px 0 #c4c7cc;
    background-color: #fff
}

.PopupStyles__popupContentLeft {
    left: 0
}

.PopupStyles__popupContentRight {
    right: 0
}

.PopupStyles__popupContentActive {
    opacity: 1;
    z-index: 9000
}

.MenuItemStyles__menuItem {
    white-space: nowrap;
    cursor: pointer
}

.MenuItemStyles__menuItemColor {
    color: #505863;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px
}

.MenuItemStyles__menuItemActiveColor {
    color: #20262e;
    font-weight: 700;
    line-height: 24px
}

.MenuItemStyles__menuItemHoverEffect:hover {
    background-color: #dee0e3
}

.MenuItemStyles__menuAvatar {
    height: 24px;
    width: 24px;
    border-radius: 50%
}

.MenuItemStyles__bottomBorder {
    border-bottom: 1px solid #dee0e3
}

.MenuItemStyles__menuItemHeading {
    color: #20262e;
    font-size: 15px;
    font-weight: 700
}

.MenuItemStyles__menuItemSubtext {
    font-size: 15px;
    white-space: normal
}

.MenuItemStyles__menuItemSubtext sup {
    font-size: 8px;
    vertical-align: super
}

.NotificationStyles__menuItem {
    border-bottom: 1px solid #dee0e3
}

.NotificationStyles__notificationMessage>b {
    color: #1861bf
}

.NotificationStyles__iconPlaceholder {
    width: 24px
}

.NotificationStyles__jobNotification {
    cursor: pointer
}

.NotificationStyles__notificationsContainer {
    background-color: #f5f6f7
}

.NotificationStyles__notificationsCountBadge {
    background: #ea7600;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    height: 19px;
    width: 19px;
    position: absolute;
    right: -4px;
    top: -4px
}

.NotificationStyles__notificationsIconContainer {
    position: relative
}

.NotificationStyles__notificationIndicator {
    background-color: #ea7600;
    border-radius: 50%;
    height: 8px;
    width: 8px
}

.NotificationStyles__notificationsItem {
    background-color: #fff
}

.NotificationStyles__notificationsPopup {
    width: 375px
}

.NotificationStyles__popupHeader {
    font-size: 20px;
    font-weight: 900;
    line-height: 32px
}

.DrawerStyles__drawerContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 7000;
    background-color: #fff
}

.DrawerStyles__drawerHeader {
    position: relative;
    height: 48px
}

.DrawerStyles__drawerHeader h1 {
    font-size: 24px;
    font-weight: 900;
    line-height: 36px
}

.DrawerStyles__drawerTitle {
    position: absolute;
    left: 0;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

.DrawerStyles__drawerContent {
    overflow: scroll
}

.DrawerStyles__drawerPositionTop {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%)
}

.DrawerStyles__drawerPositionRight {
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
    transform: translate(100%)
}

.DrawerStyles__drawerPositionBottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%)
}

.DrawerStyles__drawerPositionLeft {
    -webkit-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
    transform: translate(-100%)
}

.DrawerStyles__drawerAnimation {
    -webkit-transition: -webkit-transform .22s ease-in-out;
    transition: -webkit-transform .22s ease-in-out;
    -o-transition: -o-transform .22s ease-in-out;
    transition: transform .22s ease-in-out;
    transition: transform .22s ease-in-out, -webkit-transform .22s ease-in-out, -o-transform .22s ease-in-out
}

.DrawerStyles__drawerAnimationActive {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0)
}

.SearchStyles__iconBtn {
    border: none;
    background-color: transparent
}

.SearchStyles__colorDefault {
    color: #505863
}

.SearchStyles__colorActive {
    color: #20262e
}

.SearchStyles__colorNavigation {
    color: #858c94
}

.SearchStyles__justifyContentEvenly {
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly
}

.SearchStyles__list {
    list-style: none
}

.SearchStyles__pageLock {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden
}

@media (min-width:992px) {
    .SearchStyles__searchPageLock {
        position: fixed;
        width: 100%;
        overflow-y: scroll
    }
}

.SearchStyles__screenTakeOver {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100000;
    background-color: #fff
}

.SearchStyles__searchForm .headerSearchInput>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative
}

.SearchStyles__searchForm .headerSearchInput input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Lato, sans-serif;
    height: 40px;
    color: #505863;
    width: 100%;
    line-height: normal;
    border-radius: 3px;
    border: 1px solid #c4c7cc;
    -webkit-border-image: initial;
    -o-border-image: initial;
    border-image: initial
}

.SearchStyles__searchForm .headerSearchInput input::-webkit-input-placeholder {
    color: #c4c7cc
}

.SearchStyles__searchForm .headerSearchInput input::-moz-placeholder {
    color: #c4c7cc
}

.SearchStyles__searchForm .headerSearchInput input::placeholder {
    color: #c4c7cc
}

.SearchStyles__searchForm #sc\.location {
    padding-left: 12px
}

.SearchStyles__searchForm .gd-ui-button {
    border-radius: 3px;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 1.6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-transition: color .2s ease-out, background-color .2s ease-out;
    -o-transition: color .2s ease-out, background-color .2s ease-out;
    transition: color .2s ease-out, background-color .2s ease-out;
    font-family: Lato;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 88px;
    background-color: #0caa41;
    padding: 7px 16px
}

.SearchStyles__searchForm .SearchStyles__searchBarLocationInput,
.SearchStyles__searchForm .SearchStyles__searchKeywordContainer {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1
}

.SearchStyles__searchForm .SearchStyles__searchBarLocationInput {
    min-width: 160px
}

.SearchStyles__searchIcon {
    color: #0caa41
}

.SearchStyles__searchFormInputContainer input {
    height: 48px !important
}

.SearchStyles__searchFormInputContainer svg {
    color: #858c94
}

.SearchStyles__searchKeywordContainer {
    position: relative
}

.SearchStyles__searchKeywordContainer input {
    padding: 0 0 0 40px
}

.SearchStyles__searchKeywordInput input {
    padding: 0 40px;
    border-radius: 0;
    border: transparent
}

.SearchStyles__condensedPlaceholder {
    text-align: center;
    width: 100%
}

.SearchStyles__condensedPlaceholder span {
    color: #20262e;
    position: relative;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNy41IDE1YTcuNSA3LjUgMCAxMDAtMTUgNy41IDcuNSAwIDAwMCAxNXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+PHVzZSB4bGluazpocmVmPSIjYSIvPjwvbWFzaz48cGF0aCBzdHJva2U9IiMwMEFBNDEiIHN0cm9rZS13aWR0aD0iNCIgZD0iTTcuNSAxNWE3LjUgNy41IDAgMTAwLTE1IDcuNSA3LjUgMCAwMDAgMTV6IiBtYXNrPSJ1cmwoI2IpIi8+PHBhdGggc3Ryb2tlPSIjMDBBQTQxIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0xMi41IDEyLjVMMTcgMTciLz48L2c+PC9zdmc+") no-repeat 12px #fff;
    border: 1px solid #c4c7cc;
    border-radius: 2px;
    font-size: 14px;
    display: block;
    line-height: 1.25em;
    overflow: hidden;
    white-space: nowrap
}

.SearchStyles__searchDropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.SearchStyles__searchDropdown>div {
    font-size: 15px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c7cc;
    padding: 0 12px;
    color: #505863;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 40px;
    line-height: 40px;
    cursor: pointer
}

.SearchStyles__searchDropdown select {
    display: none
}

.SearchStyles__searchDropdown .dropdownCollapsed {
    border: none;
    overflow: hidden;
    max-height: 0
}

.SearchStyles__searchDropdown .dropDownOptionsContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.SearchStyles__searchDropdown .dropDownOptionsContainer ul li {
    margin: 0
}

.SearchStyles__searchDropdown div.selectedLabel {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 30px;
    line-height: inherit
}

.SearchStyles__searchDropdown div.selectedLabel .arrowDown {
    position: absolute;
    right: 14px;
    top: 0;
    cursor: pointer;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.SearchStyles__searchDropdown div.selectedLabel .arrowDown svg {
    height: 16px;
    width: 16px
}

.SearchStyles__searchLocationContainer {
    position: relative
}

.SearchStyles__searchLocationInput input {
    border-radius: 0;
    border: 0;
    padding-left: 40px;
    border-top: 1px solid #f5f6f7
}

.SearchStyles__searchInputLabel {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 8px
}

.SearchStyles__searchKeywordSubmit {
    position: absolute;
    right: 0;
    z-index: 1;
    height: 100%;
    background-color: transparent;
    border: none
}

.SearchStyles__searchFormContainer {
    position: relative;
    background-color: #0caa41
}

.SearchStyles__searchFormTitle {
    color: #fff;
    position: relative
}

.SearchStyles__searchFormTitleActive:after {
    content: "";
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #fff;
    left: 50%;
    top: calc(100% + 8px);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

.SearchStyles__searchMenuCloseBtn {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1
}

.SearchStyles__searchMenuCloseBtn svg {
    color: #fff
}

.SearchStyles__searchMenuContainer {
    overflow: scroll;
    background-color: #f5f6f7
}

.SearchStyles__searchMenuContent {
    background-color: #fff
}

.SearchStyles__searchMenuListingItem:not(:first-of-type) {
    border-top: 1px solid #dee0e3
}

.SearchStyles__searchMenuListingItem a span:not(.SearchStyles__plain) {
    color: #1861bf
}

.SearchStyles__searchMenuListingItem a:hover span:not(.SearchStyles__plain) {
    color: #0c4085
}

.SearchStyles__newSearchButton>span,
.SearchStyles__searchButtonIcon>span,
.SearchStyles__searchButtonText {
    color: #fff
}

@media (max-width:1024px) {
    .SearchStyles__searchButtonText {
        display: none
    }

    .SearchStyles__searchButton {
        padding: 5px 0 !important;
        min-width: 48px !important;
        max-height: 40px !important
    }
}

@media (min-width:1025px) {
    .SearchStyles__searchButtonIcon {
        display: none
    }
}

.SearchStyles__searchForm .autocomplete-suggestions,
.SearchStyles__searchFormContainer .autocomplete-suggestions {
    text-align: left;
    cursor: pointer;
    border: 1px solid #505863;
    border-top: 0;
    background: #fff;
    -webkit-box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
    position: absolute;
    display: none;
    z-index: 2990;
    max-height: 302px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.SearchStyles__searchForm .autocomplete-suggestion,
.SearchStyles__searchFormContainer .autocomplete-suggestion {
    position: relative;
    padding: 8px 10px;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #20262e
}

.SearchStyles__searchForm .autocomplete-suggestions .fullFormat,
.SearchStyles__searchFormContainer .autocomplete-suggestions .fullFormat {
    padding: 0
}

.SearchStyles__searchForm .autocomplete-suggestions .fullFormat .suggestion-content,
.SearchStyles__searchFormContainer .autocomplete-suggestions .fullFormat .suggestion-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 16px
}

.SearchStyles__searchForm .autocomplete-suggestions .fullFormat .suggestion-content>span,
.SearchStyles__searchFormContainer .autocomplete-suggestions .fullFormat .suggestion-content>span {
    padding-left: 16px;
    font-weight: 700;
    overflow: hidden
}

.SearchStyles__searchForm .autocomplete-suggestions .fullFormat .suggestion-content>span span.normal,
.SearchStyles__searchFormContainer .autocomplete-suggestions .fullFormat .suggestion-content>span span.normal {
    font-weight: 400
}

.SearchStyles__searchForm .autocomplete-suggestions .fullFormat .suggestion-content i,
.SearchStyles__searchFormContainer .autocomplete-suggestions .fullFormat .suggestion-content i {
    display: block;
    background-image: url(/static/img/core/sprites/sitewide.png);
    background-position: -213px 0;
    width: 20px;
    height: 22px
}

@media (-o-min-device-pixel-ratio:2/1),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {

    .SearchStyles__searchForm .autocomplete-suggestions .fullFormat .suggestion-content i,
    .SearchStyles__searchFormContainer .autocomplete-suggestions .fullFormat .suggestion-content i {
        background-image: url(/static/img/core/sprites/sitewide2x.png);
        -webkit-background-size: 233px 222px;
        background-size: 233px 222px
    }
}

.SearchStyles__searchForm .autocomplete-suggestions .fullFormat .suggestion-content i.blank,
.SearchStyles__searchFormContainer .autocomplete-suggestions .fullFormat .suggestion-content i.blank {
    background: none;
    width: 24px;
    height: 24px
}

.SearchStyles__searchForm .autocomplete-suggestions .fullFormat .suggestion-content i img,
.SearchStyles__searchFormContainer .autocomplete-suggestions .fullFormat .suggestion-content i img {
    width: 24px;
    height: 24px
}

.SearchStyles__searchForm .autocomplete-suggestions .fullFormat[data-header]:before,
.SearchStyles__searchFormContainer .autocomplete-suggestions .fullFormat[data-header]:before {
    content: attr(data-header);
    display: block;
    background: #fff;
    color: #7f7f7f;
    font-size: 15px;
    font-weight: 500;
    -webkit-box-shadow: inset 0 2px 0 0 #c2c2c2;
    box-shadow: inset 0 2px 0 0 #c2c2c2;
    margin: 0;
    padding: 12px 0;
    border-left: 16px solid #fff;
    border-right: 16px solid #fff;
    text-transform: capitalize
}

.SearchStyles__searchForm .autocomplete-suggestions .fullFormat[data-header]:first-child:before,
.SearchStyles__searchFormContainer .autocomplete-suggestions .fullFormat[data-header]:first-child:before {
    -webkit-box-shadow: none;
    box-shadow: none
}

.SearchStyles__searchForm .autocomplete-suggestion.selected,
.SearchStyles__searchFormContainer .autocomplete-suggestion.selected {
    background: #f2f2f2
}

.AccountPopupStyles__menuContainer {
    position: relative
}

.AccountPopupStyles__menuContainer,
.AccountPopupStyles__notificationTriggerContainer {
    overflow: hidden
}

.AccountPopupStyles__accountMenu,
.AccountPopupStyles__notificationMenu,
.AccountPopupStyles__notificationTrigger {
    -webkit-transition: -webkit-transform .22s ease-in-out;
    transition: -webkit-transform .22s ease-in-out;
    -o-transition: -o-transform .22s ease-in-out;
    transition: transform .22s ease-in-out;
    transition: transform .22s ease-in-out, -webkit-transform .22s ease-in-out, -o-transform .22s ease-in-out
}

.AccountPopupStyles__accountMenu.AccountPopupStyles__active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

.AccountPopupStyles__accountMenu.AccountPopupStyles__inactive {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
}

.AccountPopupStyles__notificationTrigger {
    width: calc(100% + 33px)
}

.AccountPopupStyles__notificationTrigger.AccountPopupStyles__active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

.AccountPopupStyles__notificationTrigger.AccountPopupStyles__inactive {
    -webkit-transform: translateX(-33px);
    -ms-transform: translateX(-33px);
    -o-transform: translateX(-33px);
    transform: translateX(-33px)
}

.AccountPopupStyles__notificationMenu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll
}

.AccountPopupStyles__notificationMenu.AccountPopupStyles__active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

.AccountPopupStyles__notificationMenu.AccountPopupStyles__inactive {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%)
}

.AccountPopupStyles__avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%
}

.HeaderProfileTooltipStyles__tooltipContentWrapper footer {
    margin-top: 0 !important
}

.HeaderProfileTooltipStyles__tooltipContentWrapper svg {
    position: absolute;
    right: 16px;
    top: 8px
}

.UniversalSearchBarStyles__locationIcon {
    color: #505863;
    z-index: 2
}

.UniversalSearchBarStyles__searchInput input {
    background-color: #f5f6f7;
    border: 1px solid #dee0e3 !important;
    font-size: 15px !important
}

.UniversalSearchBarStyles__searchInput input:focus {
    border: 1px solid #dee0e3 !important;
    border-radius: 3px !important;
    z-index: 1
}

.UniversalSearchBarStyles__searchInput input::-webkit-input-placeholder {
    color: #858c94 !important
}

.UniversalSearchBarStyles__searchInput input::-moz-placeholder {
    color: #858c94 !important
}

.UniversalSearchBarStyles__searchInput input::placeholder {
    color: #858c94 !important
}

.UniversalSearchBarStyles__searchKeywordContainer {
    max-width: 358px !important;
    position: relative
}

.UniversalSearchBarStyles__searchKeywordContainer input {
    border-radius: 3px 0 0 3px !important;
    height: 48px !important;
    padding: 0 32px 0 16px
}

@media (max-width:991px) {
    .UniversalSearchBarStyles__searchKeywordContainer {
        max-width: 596px !important
    }
}

.UniversalSearchBarStyles__searchInputContainer {
    position: relative
}

.UniversalSearchBarStyles__searchInputContainer .UniversalSearchBarStyles__searchBarLocationInput {
    max-width: 239px;
    min-width: 160px;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1
}

.UniversalSearchBarStyles__searchInputContainer .UniversalSearchBarStyles__searchBarLocationInput input {
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    padding: 0 32px 0 40px !important
}

.UniversalSearchBarStyles__searchInputContainer .UniversalSearchBarStyles__searchBarLocationInput input:focus {
    border: 1px solid #dee0e3 !important;
    border-radius: 3px !important;
    z-index: 1
}

.UniversalSearchBarStyles__searchButton {
    display: block;
    border-radius: 0 3px 3px 0 !important;
    height: 48px;
    min-width: 48px !important;
    width: 48px !important
}

.UniversalSearchBarStyles__searchButton span {
    color: #fff
}

.UniversalSearchBarStyles__searchButton:focus {
    border-radius: 3px !important;
    -webkit-box-shadow: 0 0 0 2px #86d7f7;
    box-shadow: 0 0 0 2px #86d7f7
}

.UniversalSearchStyles__colorDefault {
    color: #505863
}

.UniversalSearchStyles__iconBtn {
    background-color: transparent;
    border: none
}

.UniversalSearchStyles__searchForm .headerSearchInput>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative
}

.UniversalSearchStyles__searchForm .headerSearchInput input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Lato, sans-serif;
    height: 40px;
    color: #505863;
    width: 100%;
    line-height: normal;
    border-radius: 3px;
    border: 1px solid #c4c7cc;
    -webkit-border-image: initial;
    -o-border-image: initial;
    border-image: initial
}

.UniversalSearchStyles__searchForm .headerSearchInput input::-webkit-input-placeholder {
    color: #c4c7cc
}

.UniversalSearchStyles__searchForm .headerSearchInput input::-moz-placeholder {
    color: #c4c7cc
}

.UniversalSearchStyles__searchForm .headerSearchInput input::placeholder {
    color: #c4c7cc
}

.UniversalSearchStyles__searchForm #sc\.location {
    padding-left: 12px
}

.UniversalSearchStyles__searchForm .gd-ui-button {
    border-radius: 3px;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 1.6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-transition: color .2s ease-out, background-color .2s ease-out;
    -o-transition: color .2s ease-out, background-color .2s ease-out;
    transition: color .2s ease-out, background-color .2s ease-out;
    font-family: Lato;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 88px;
    background-color: #0caa41;
    padding: 7px 16px
}

.UniversalSearchStyles__searchForm .UniversalSearchStyles__searchBarLocationInput,
.UniversalSearchStyles__searchForm .UniversalSearchStyles__searchKeywordContainer {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1
}

.UniversalSearchStyles__searchForm .UniversalSearchStyles__searchBarLocationInput {
    min-width: 160px
}

.UniversalSearchStyles__searchInput input {
    height: 48px !important
}

.UniversalSearchStyles__searchKeywordContainer {
    position: relative
}

.UniversalSearchStyles__recentSearchItem {
    padding: 12px 18px
}

.UniversalSearchStyles__recentSearchItem a,
.UniversalSearchStyles__recentSearchItem div {
    color: #20262e;
    cursor: pointer;
    margin-left: 18px
}

.UniversalSearchStyles__recentSearchItem svg {
    height: 20px;
    width: 20px
}

.UniversalSearchStyles__recentSearchItem svg path {
    fill: #505863
}

@media (min-width:768px) {
    .UniversalSearchFormStyles__keywordInputContainer {
        -webkit-box-flex: 5;
        -webkit-flex-grow: 5;
        -ms-flex-positive: 5;
        flex-grow: 5
    }
}

.UniversalSearchFormStyles__searchButton {
    display: block;
    border-radius: 0 3px 3px 0 !important;
    height: 48px !important;
    min-width: 48px !important;
    width: 48px !important
}

.UniversalSearchFormStyles__searchButton span {
    color: #fff
}

.UniversalSearchFormStyles__searchFormContainer {
    position: relative;
    -webkit-box-shadow: 0 0 10px 1px #c4c7cc;
    box-shadow: 0 0 10px 1px #c4c7cc
}

.UniversalSearchFormStyles__searchInputLabel {
    padding-right: 12px
}

@media (min-width:768px) {
    .UniversalSearchFormStyles__searchInputLabel {
        position: absolute;
        top: 12px;
        left: 12px
    }
}

.UniversalSearchFormStyles__searchInput input {
    -webkit-appearance: none;
    background-color: #f5f6f7;
    border: 1px solid #dee0e3;
    border-radius: 3px
}

.UniversalSearchFormStyles__searchInput input:focus {
    border-radius: 3px;
    z-index: 1
}

.UniversalSearchFormStyles__searchInput input:hover {
    border-color: #dee0e3
}

.UniversalSearchFormStyles__searchKeywordInput input {
    padding: 0 16px
}

@media (min-width:768px) {
    .UniversalSearchFormStyles__searchKeywordInput input {
        border-radius: 3px 0 0 3px
    }
}

.UniversalSearchFormStyles__searchLocationInput input {
    padding-left: 16px
}

.UniversalSearchFormStyles__searchLocationInput input+div {
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 120px !important;
    width: 100% !important
}

@media (min-width:768px) {
    .UniversalSearchFormStyles__searchLocationInput input {
        border-radius: 0;
        border-left: none;
        border-right: none;
        padding-left: 40px
    }
}

.UniversalSearchFormStyles__searchLocationContainer {
    position: relative
}

@media (min-width:768px) {
    .UniversalSearchFormStyles__searchLocationContainer {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }
}

.UniversalSearchFormStyles__searchMenuCloseBtn {
    margin-right: 12px;
    z-index: 1
}

.UniversalSearchFormStyles__searchMenuCloseBtn svg {
    color: #505863
}

.UniversalSearchFormStyles__hiddenSearchButton {
    margin-left: -1000px;
    position: absolute
}

.CareerOverviewNavStyles__bottomShadow {
    -webkit-box-shadow: inset 0 -1px 0 0 #dee0e3;
    box-shadow: inset 0 -1px 0 0 #dee0e3
}

.CareerOverviewNavStyles__bottomBorder {
    border-bottom: 1px solid #dee0e3
}

.CareerOverviewNavStyles__navigationBackground {
    background: #fff
}

.CareerOverviewNavStyles__legacyPageWidth {
    max-width: 1024px
}

.CareerOverviewNavStyles__navigationItem {
    cursor: pointer;
    line-height: 1.6;
    position: relative
}

.CareerOverviewNavStyles__navigationItem:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px
}

.CareerOverviewNavStyles__navigationItem.CareerOverviewNavStyles__activeNavigationItem:after {
    background: #0caa41
}

.CareerOverviewNavStyles__navigationScroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.CareerOverviewNavStyles__navigationScroll::-webkit-scrollbar {
    display: none
}

@media (min-width:767px) {
    .CareerOverviewNavStyles__navigationScroll {
        overflow: visible
    }
}

.CareerOverviewNavStyles__secondaryNavigation {
    height: unset !important
}

.CareerOverviewNavStyles__secondaryNavigation .CareerOverviewNavStyles__secondaryNavigationItem:hover:not(.CareerOverviewNavStyles__activeNavigationItem):after {
    background: #c4c7cc
}

.CareerOverviewNavStyles__stickyWrapper {
    position: relative;
    height: 56px
}

.CareerOverviewNavStyles__stickyWrapper:not(.CareerOverviewNavStyles__sticky) .CareerOverviewNavStyles__stickyInner {
    background-color: transparent !important
}

.CareerOverviewNavStyles__stickyWrapper.CareerOverviewNavStyles__sticky .CareerOverviewNavStyles__stickyInner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    background: #fff
}

.CareerOverviewNavStyles__activeButton {
    background-color: #dee0e3 !important;
    color: #505863
}

.CareerOverviewNavStyles__h1 {
    font-size: 24px;
    line-height: 36px
}

.CareerOverviewNavStyles__h1,
.CareerOverviewNavStyles__h2 {
    font-weight: 900
}

.CareerOverviewNavStyles__h2 {
    font-size: 20px;
    line-height: 32px
}

.CareerOverviewNavStyles__hamburgerNavContainer .CareerOverviewNavStyles__hamburgerBtn {
    min-width: unset;
    color: #505863;
    border: none;
    -webkit-box-shadow: 0 0 2px 0 #c4c7cc;
    box-shadow: 0 0 2px 0 #c4c7cc
}

.CareerOverviewNavStyles__hamburgerNavContainer.CareerOverviewNavStyles__hamburgerNavActive .CareerOverviewNavStyles__hamburgerBtn {
    color: #505863
}

.CareerOverviewNavStyles__breadcrumbIcon {
    color: #dee0e3
}

.CareerOverviewNavStyles__employerBtn,
.CareerOverviewNavStyles__hamburgerBtn {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    font-family: Lato;
    line-height: 1.6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-transition: color .2s ease-out, background-color .2s ease-out;
    -o-transition: color .2s ease-out, background-color .2s ease-out;
    transition: color .2s ease-out, background-color .2s ease-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
    padding: 4px 16px
}

.CareerOverviewNavStyles__employerBtn:link,
.CareerOverviewNavStyles__employerBtn:visited,
.CareerOverviewNavStyles__hamburgerBtn:link,
.CareerOverviewNavStyles__hamburgerBtn:visited {
    color: #505863
}

.CareerOverviewNavStyles__employerBtn:link.CareerOverviewNavStyles__activeMenuItem,
.CareerOverviewNavStyles__employerBtn:visited.CareerOverviewNavStyles__activeMenuItem,
.CareerOverviewNavStyles__hamburgerBtn:link.CareerOverviewNavStyles__activeMenuItem,
.CareerOverviewNavStyles__hamburgerBtn:visited.CareerOverviewNavStyles__activeMenuItem {
    color: #20262e
}

.CareerOverviewNavStyles__careerNavigation {
    -webkit-box-shadow: 0 -1px 0 0 #dee0e3;
    box-shadow: 0 -1px 0 0 #dee0e3
}

.CareerOverviewNavStyles__careerNavigation .container-max-width {
    max-width: 1280px
}

.JobTitleAndLocationPickerStyles__locationPickerButton {
    background: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    text-align: left
}

.JobTitleAndLocationPickerStyles__locationPickerButton:hover {
    background-color: #f5f6f7
}

.JobTitleAndLocationPickerStyles__locationPickerButton span {
    color: #20262e
}

.JobTitleAndLocationPickerStyles__locPickerFormLabel {
    color: #505863
}

/*# sourceMappingURL=https://artifactory.qa.jagundi.com/artifactory/npm-internal/gd-header/-/gd-header-14.3.0.tgz!/package/dist/gd-site-header.bundle.css.map*/