/* Table Section */

.trip-table {
    width: 85%;
}

td, th {
    padding: .35rem;
}

tr:nth-child(7), tr:nth-child(8) {
    display: table-row;
}

.small-bottom {
    border-bottom: 2px solid #333;
}

/* Contact Section */

.contact-page input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.contact-page form div {
    margin-top: 0;
}

/* Newsletter Section */

.newsletter form {
    grid-template-columns: 1fr 1fr 1fr;
}

/* Footer Section */

footer {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    text-align: left;
    padding: 0;

    div:nth-child(1) {
        padding-left: .75rem;
    }

    .social {
        text-align: right;
        padding: .5rem;
        padding-right: .75rem;

        .social img{
            max-width: 15%;

        }
    }
}