/* Nav Section */

nav {
    grid-template-columns: .65fr 2fr  .5fr;
}

.social img{
    max-width: 10%;
}

/* Guide Section */

.guides {
    max-width: 1850px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Footer Section */

footer .social img{
    max-width: 5%;
}