/* Nav Section */

nav {
    grid-template-columns: .65fr 2fr  .5fr;
}

.social img{
    max-width: 10%;
}

/* Contact Section */

.contact div:nth-child(1) {

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }
}

/* Footer Section */

footer .social img{
    max-width: 5%;
}